
.list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.level-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2rem;
}
.white-line {
    width: 45%;
    height: 1px;
    background: white;
    margin-top:.1rem;
}

.list article {
    background: #000000;
    border: 1px solid #2f32da;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.list article strong {
    color: white;
}

.list article p {
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}

.list article a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid #2f32da;
    background: none;
    margin-top: 10px;
    color: #2f32da;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s
}

.list article a:hover {
    background-color: #2f32da;
    color: #fff;
}

.list .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.list .actions button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #2f32da;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.list .actions button[disabled] {
    opacity: .5;
    cursor: default;
}

.list .actions button:hover {
    opacity: .7;
}

.list .actions button[disabled]:hover {
    opacity: .5;
}