.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 80%;
}

.welcome .title {
    font-size: 1.4rem;
    font-family: 'Montserrat';
}

.welcome .text {
    font-size: 1.4rem;
    font-weight: lighter;
}

.welcome a.login {
    margin-top: 10%;
}

.welcome a.signup {
    margin-top: 5%;
}
