form.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:20%;
}

form.signup-form input {
    margin-top: 1.5rem;
    color:#D0D0D0;
}

form.signup-form input::placeholder {
    padding-left: 1rem;
    font-size: 1rem;
    color:#D0D0D0;
}

form.signup-form .social-media-signup {
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
}

form.signup-form .social-media-signup img{
    width: 20%;
    margin: auto;
}

form.signup-form button{
    margin-top: 10%;
}


form.signup-form span.or-register {
    margin: 1.4rem;
}